/* Empty. Add your own CSS if you like */

#showMore {
	margin-bottom: inherit;
	text-align: center;
	background-color: rgba(0, 207, 255, 0.31);
}

.buy {
	float: right;
}

/* tip about top-bar: http://www.sitepoint.com/5-ionic-app-development-tips-tricks/ */
.platform-ios.platform-cordova:not(.fullscreen) .search-bar {
    margin-top: 20px;
}