/* Empty. Add your own CSS if you like */
body {
	background:img/ionic.png;
}

#showMore {
	margin-bottom: inherit;
	text-align: center;
	background-color: rgba(0, 207, 255, 0.31);
}

.buy {
	float: right;
	background-color: rgba(0, 207, 255, 0.31);
}

.platform-ios.platform-cordova:not(.fullscreen) .search-bar {
    margin-top: 20px;
}

.platform-ios ion-content {
    margin-bottom: 60px !important;
}

.platform-android ion-content {
	padding-top: 50px !important;
}

.web {
	margin-left: 25%;
}