/* Empty. Add your own CSS if you like */
body {
	background:img/ionic.png;
}

#showMore {
	/*margin-bottom: inherit;*/
	text-align: center;
	background-color: deepskyblue;
}

.bar .title {
	position: relative;
}

.artist{
	padding-left: 5px;

}

.item {
	white-space: normal;
}

.buy {
	float: right;
	background-color: rgba(0, 207, 255, 0.31);
}

.platform-ios.platform-cordova:not(.fullscreen) .search-bar {
    margin-top: 20px;
}

.platform-ios ion-content {
    margin-bottom: 60px !important;
}

.platform-android ion-content {
	padding-top: 50px !important;
}

.web {
	margin-left: 25%;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.1s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.button-icon-right {
	float: right;
	
}