<div class='auth-forms text-center'>

	<h2>Login</h2>
	
	<form ng-submit='login()'>
		<p ng-show='error' class='text-danger'>{{ error }}</p>
		<input type='email' ng-model='user.email' placeholder='email' class='form-control'>
		<br>
		<input type='password' ng-model='user.password' placeholder='password' class='form-control'>
		<br>
		<a href ui-sref="register">create an account</a> or <a href ui-sref='resetPassword'> reset password</a>
		<br>
		<br>
		<input type='submit' value='Submit' class='btn btn-lg btn-primary'>
	</form>

</div>