<ion-content>

	<div class="list">
		<div class="item item-divider"> 
	        Follow artists
	    </div>
	    <!-- Filter Search -->
	    <div class="list">
	    	<label class="item item-input">
	    		<input type="text" placeholder="search artist/genre" data-ng-model="searchText">
	    	</label>
	    </div>
	    <b>Showing {{feedLimit}}/{{artists.length}} shows</b>
		<ion-toggle ng-repeat="artist in artists | filter:searchText | limitTo: feedLimit" class="item item-avatar artist"
			 ng-change="updateFollowing(artist.name, $index)"
			ng-model="followingArtists[artist.name]">
			<img ng-src="{{artist.images[artist.images.length-1].url}}">
			{{artist.name}}
		</ion-toggle>
		<div class="list list-inset" ng-if='artists.length > feedLimit'>
			<div class="item" id="showMore"
				ng-click="increaseFeed()">Show More...</div>
		</div>
	</div>
</ion-content>
<div ng-include="'templates/navbar.html'"></div>


