<ion-content>

	<div class="list">
		<div class="item item-divider" style="margin-top:43px;"> 
	        Follow artists
	    </div>
	    <!-- Filter Search -->
	    <div class="list">
	    	<label class="item item-input">
	    		<input type="text" placeholder="Artist/Genre" data-ng-model="searchText">
	    	</label>
	    </div>
	    <!-- ng-change='updateFollowing(artist.name)' -->
		<ion-toggle ng-repeat="artist in artists | filter:searchText | limitTo: feedLimit" class="item item-avatar"
			 ng-change="updateFollowing(artist.name, $index)"
			ng-model="followingArtists[artist.name]">

			<img ng-src="{{artist.images[artist.images.length-1].url}}">
			{{artist.name}}
		</ion-toggle>
		<div class="list list-inset">
			<div class="item" id="showMore"
			ng-click="feedLimit = feedLimit + 10">Show More...</div>
			<br />
			<br />
		</div>
	</div>
</ion-content>
	<div ng-include="'templates/navbar.html'"></div>


